n8n_chat_ai_workflow.json
{
  "name": "Chat AI Assistant Complete Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-chat-trigger",
      "name": "Start Chat Session",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        140,
        300
      ]
    },
    {
      "__comment": "======== node for checking chrome chat status ==============",
      "works": "executes a powershell script to check chrome chat status and returns boolean to n8n",
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"E:\\Repoi\\UpworkNotif\\run_check_chrome_chat.ps1\"",
        "workingDirectory": "E:\\Repoi\\UpworkNotif"
      },
      "id": "1dafcafb-chat-chrome-status",
      "name": "Check Chrome Chat Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        340,
        300
      ]
    },
    {
      "__comment": "======== node for redirection based on chrome chat status ==============",
      "works": "takes output from check chrome chat status if value is equal to true passes it",
      "parameters": {
        "conditions": {
          "boolean": [],
          "dateTime": [],
          "number": [],
          "string": [
            {
              "value1": "={{JSON.parse($node[\"Check Chrome Chat Status\"].json[\"stdout\"]).chrome_ready}}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "id": "2eafcafb-chat-chrome-if",
      "name": "IF Chrome Chat Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "__comment": "======== node for starting chrome chat ==============",
      "works": "executes a powershell script to start chrome for chat",
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"E:\\Repoi\\UpworkNotif\\run_start_chrome_chat_simple.ps1\"",
        "workingDirectory": "E:\\Repoi\\UpworkNotif"
      },
      "id": "3fafcafb-chat-start-chrome",
      "name": "Start Chrome Chat",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        540,
        500
      ]
    },
    {
      "__comment": "======== node for waiting for chrome chat startup ==============",
      "works": "waits for a specified amount of time than proceeds to next node",
      "parameters": {
        "amount": 6,
        "unit": "seconds"
      },
      "id": "3gafcafb-chat-wait-startup",
      "name": "Wait for Chrome Chat Startup",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        540,
        650
      ]
    },
    {
      "__comment": "======== node for waiting for chat navigation ==============",
      "works": "waits for user to navigate to chat page",
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "4gafcafb-chat-navigation",
      "name": "Wait for Chat Navigation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        740,
        300
      ]
    },
    {
      "__comment": "======== node for running chat scraper ==============",
      "works": "executes a powershell script to run chat scraper",
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"E:\\Repoi\\UpworkNotif\\run_chat_scraper.ps1\"",
        "workingDirectory": "E:\\Repoi\\UpworkNotif"
      },
      "id": "5hafcafb-chat-scraper",
      "name": "Run Chat Scraper",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        940,
        300
      ]
    },
    {
      "__comment": "======== node for parsing chat messages ==============",
      "works": "executes a powershell script to parse chat messages from HTML",
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"E:\\Repoi\\UpworkNotif\\run_chat_parser.ps1\"",
        "workingDirectory": "E:\\Repoi\\UpworkNotif"
      },
      "id": "6hafcafb-chat-parser",
      "name": "Parse Chat Messages",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ]
    },
    {
      "__comment": "======== node for smart chat response with ML phase detection ==============",
      "works": "ML-powered phase detection + 4 response modes (template/hybrid/pure/summary)",
      "response_modes": {
        "template": "Fast 5 pre-written options (default, ~0.1s)",
        "hybrid": "Template + AI personalization (3 options, ~2s)",
        "pure": "Fully AI-generated (3 options, ~3s)",
        "summary": "Template + AI context summary (3 options, ~2s)",
        "all": "ALL 4 modes sequentially (14 total options, ~7-8s)"
      },
      "current_mode": "all",
      "how_to_change_mode": "Edit command parameter: change '-Mode all' to '-Mode template/hybrid/pure/summary' for single mode",
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"E:\\Repoi\\UpworkNotif\\run_smart_chat_response.ps1\" -Mode all",
        "workingDirectory": "E:\\Repoi\\UpworkNotif"
      },
      "id": "smart-chat-response",
      "name": "Smart Chat Response (All Modes)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "__comment": "======== node for generating chat dashboard ==============",
      "works": "creates interactive HTML dashboard with chat and AI responses and opens in browser",
      "parameters": {
        "command": "powershell -ExecutionPolicy Bypass -File \"E:\\Repoi\\UpworkNotif\\run_generate_and_open_chat_dashboard.ps1\"",
        "workingDirectory": "E:\\Repoi\\UpworkNotif"
      },
      "id": "chat-dashboard",
      "name": "Generate and Open Chat Dashboard",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1540,
        300
      ]
    }
  ],
  "connections": {
    "Start Chat Session": {
      "main": [
        [
          {
            "node": "Check Chrome Chat Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Chrome Chat Status": {
      "main": [
        [
          {
            "node": "IF Chrome Chat Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Chrome Chat Ready": {
      "main": [
        [
          {
            "node": "Wait for Chat Navigation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Chrome Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Chrome Chat": {
      "main": [
        [
          {
            "node": "Wait for Chrome Chat Startup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Chrome Chat Startup": {
      "main": [
        [
          {
            "node": "Check Chrome Chat Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Chat Navigation": {
      "main": [
        [
          {
            "node": "Run Chat Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Chat Scraper": {
      "main": [
        [
          {
            "node": "Parse Chat Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Chat Messages": {
      "main": [
        [
          {
            "node": "Smart Chat Response (All Modes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Chat Response (All Modes)": {
      "main": [
        [
          {
            "node": "Generate and Open Chat Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-31T00:00:00.000Z",
  "updatedAt": "2025-11-03T21:10:00.000Z",
  "settings": {},
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "version": "3.0",
    "features": [
      "ML Phase Detection (BERT, 100% accuracy)",
      "8 Conversation Phases",
      "Knowledge Check Detection (92% confidence)",
      "4 Response Modes (template/hybrid/pure/summary)",
      "Template Mode: 5 fast options (default)",
      "Hybrid Mode: AI-enhanced personalization",
      "Pure Mode: Fully AI-generated",
      "Summary Mode: Template + context summary"
    ]
  },
  "pinData": {},
  "versionId": "chat-ml-v3",
  "triggerCount": 0,
  "tags": [
    "chat",
    "ai",
    "ml-powered",
    "phase-detection",
    "working"
  ]
}